@import "tailwindcss";
@import "primeicons/primeicons.css";

.searchBarDisabled {
    background-color: #ebebeb
}

.searchBarEnabled {
    background-color: white;
}

.searchBarEnabled:hover {
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.25)
}